* {
    box-sizing: border-box;
    margin: 0;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    background: darkred;
    height: 100vh;
    border: 5vh solid olive;
}

.test {
    background: black;
    color: aqua;
}

