@charset "UTF-8";
body  {
	font: 100% Verdana, Arial, Helvetica, sans-serif;
	background: #0081c6;
	margin: 0; /* it's good practice to zero the margin and padding of the body element to account for differing browser defaults */
	padding: 0;
	text-align: center; /* this centers the container in IE 5* browsers. The text is then set to the left aligned default in the #container selector */
	color: #000000;
}
.twoColFixLtHdr #container { 
	width: 780px;  /* using 20px less than a full 800px width allows for browser chrome and avoids a horizontal scroll bar */
	background: #FFFFFF;
	margin: 0 auto; /* the auto margins (in conjunction with a width) center the page */
	border: 0px solid #000000;
	text-align: left; /* this overrides the text-align: center on the body element. */
} 
.twoColFixLtHdr #header { 
	background: #DDDDEE; 
	padding: 1px 8px 0 15px;  /* this padding matches the left alignment of the elements in the divs that appear beneath it. If an image is used in the #header instead of text, you may want to remove the padding. */
} 
.twoColFixLtHdr #header h1 {
	margin: 0; /* zeroing the margin of the last element in the #header div will avoid margin collapse - an unexplainable space between divs. If the div has a border around it, this is not necessary as that also avoids the margin collapse */
	padding: 10px 5px; /* using padding instead of margin will allow you to keep the element away from the edges of the div */
}

.twoColFixLtHdr #header h2 {
		color: #0081c6;
}
.twoColFixLtHdr #sidebar1 {
	float: left; /* since this element is floated, a width must be given */
	width: 140px; /* the actual width of this div, in standards-compliant browsers, or standards mode in Internet Explorer will include the padding and border in addition to the width */
	background: #EBEBEB; /* the background color will be displayed for the length of the content in the column, but no further */
	padding: 15px 5px 15px 15px;
}
.twoColFixLtHdr #mainContent { 
	/* margin: 0 0 0 160px; /* the left margin on this div element creates the column down the left side of the page - no matter how much content the sidebar1 div contains, the column space will remain. You can remove this margin if you want the #mainContent div's text to fill the #sidebar1 space when the content in #sidebar1 ends. */
	margin: 0;	/* replaced by HSD because I decided to eliminate the sidebar and 
		therefore don't need the margin anymore */
	padding: 0 20px; /* remember that padding is the space inside the div box and margin is the space outside the div box */
	font-size: 11pt;
} 
.twoColFixLtHdr #footer { 
	padding: 5px 10px 5px 15px; /* this padding matches the left alignment of the elements in the divs that appear above it. */
	background:#DDDDFF; 
	font-size:9pt;
} 
.twoColFixLtHdr #footer p {
	margin: 0; /* zeroing the margins of the first element in the footer will avoid the possibility of margin collapse - a space between divs */
	padding: 10px 5px; /* padding on this element will create space, just as the the margin would have, without the margin collapse issue */
}
.fltrt { /* this class can be used to float an element right in your page. The floated element must precede the element it should be next to on the page. */
	float: right;
	margin-left: 8px;
}
.fltlft { /* this class can be used to float an element left in your page */
	float: left;
	margin-right: 8px;
}
.clearfloat { /* this class should be placed on a div or break element and should be the final element before the close of a container that should fully contain a float */
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}
/* End of the stuff created by Dreamweaver */

A {
	text-decoration: none;
	font-size: inherit;
}

A:HOVER {
	text-decoration: underline;
	font-weight:	normal;
	color: blue;
	font-size:inherit;
}

A:VISITED {
	color: blue;
	font-size: inherit;
}

h1 {
	font:		Arial;
	font-size:	14pt;
	font-weight:bold;
}
	
h2 {
	font:		Arial;
	font-size:	12pt;
	font-weight:bold;
}

h3 {
	font:		Arial;
	font-size:	11pt;
	font-weight:bold;
}

p {
	padding: 0 5px 10px 15px;
	text-align:justify;
	font-size: 11pt;
}

.lastUpdated {
	color:           #555555;
	font-family:     sans-serif;
	font-size:       10pt;
	font-style:		italic;
	text-align:		right;
}

.pubHeader {
	border-top-width: medium;
	border-top-style: solid;
	padding: 5px 10px 0px 15px;
	text-align:justify;
	text-size: 12pt;
	background-color:#DDDDFF;
}

.pubAbstract {
	padding: 0 25px;
	text-align:justify;
	font-size: 11pt;
}

.aQuestion {
/* Used for showing a question that will have a following answer */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-style: italic;
	font-weight: normal;
	border-top: thin solid black;
	padding-top: 4px;
}

.anAnswer {
/* Used for showing a answer that will immediately follow a question */
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11pt;
	font-weight: bold;
	left: 10px;
	margin-left: 8pt;
	margin-right: 8pt;
	padding-right: 8pt;
	padding-left: 8pt;
}


ul.spacedList >li {
/* Used when I want a more "open" looking list */
	margin: 20px 5px;
	font-size: inherit;
}

li {
	font-size: inherit;
}

div.addressBlock {
	width: 400px;
	font: 12pt Arial;
	vertical-align: left;
	text-align: left;
}

div.addressBlock a {
	font:12pt Arial;
}

.style1 {
	font-size: 12px;
}