hr.line {
    background-color: #99000000;
    border-top: 8px solid #990000;
    border-radius: 5px;
    padding-top: 0px;
    padding-bottom: 20px;
    width: 100%;
}

hr.blank {
    background-color: #99000000;
    padding-top: 40px;
    padding-bottom: 40px;
    width: 100%;
}

header {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
    text-align: center;
}

nav {
    background-color: #990000d8;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
    padding: 20px;
}

nav a {
    color: #afaaaa;
    font-size: 20px;
    margin: 15px;
    transition: color 0.25s ease-in-out;
    text-decoration: none;
}

a:hover {
    color: white;
}

h1 {
    font-family: 'Source Code Pro', monospace;
    color: #f0ebeb;
    text-align: center;
    position: relative; 
}

body {
    background-color: #202020;
    font-family: 'Montserrat', sans-serif;
    color: #f0ebeb;
    text-align: left;
    position: static;
}

div {
    justify-content: center;
    margin: 2%;
}

img {
    width: 35vmax;
    justify-content: left;
    border: 5px solid #990000d8
}

table {
    width: 100%;
    text-align: center;
    justify-content: center;
}

.typing {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;

    animation: typewriter;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

.typing_2 {
    overflow: hidden;
    white-space: nowrap;
    display: inline-block;
    position: relative;

    animation: typewriter_2;
    animation-duration: 10s;
    animation-timing-function: steps(25, end);
    animation-iteration-count: infinite;
}

.typing::after, .typing_2::after {
    content: " |";
    position: absolute;
    right: 0;

    animation: caret infinite;
    animation-duration: 1s;
    animation-timing-function: steps(1, end);
}

@keyframes typewriter {
    0%, 50%, 100% {
        width: 0;
    }
    60%, 90% {
        width: 12em;
    }
}

@keyframes typewriter_2 {
    0%, 50%, 100% {
        width: 0;
    }
    10%, 40% {
        width: 9.5em;
    }
}

@keyframes caret {
    0%, 100% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
}