* {
    font-family: "Source Code Pro", monospace;
}

body {
    display: flex;
    align-items: center;
    flex-direction: column;
    color: #E7F6F2;
    background: #1C2121;
}

a {
    text-decoration: none;
    color: #E7F6F2;
}

button {
    cursor: pointer;
    border: 0;
    margin: 0.1rem;
}

#bubble-container {
    text-align: center;
    width: 22rem;
}

.bubble-button {
    border-radius: 4px;
    background: #395B64;
    width: 2.5rem;
    height: 1.5rem;
    color: #395B64;
    user-select: none;
}

.bubble-button:hover {
    background: #426974;
    color: #426974;
}

.refresh-button {
    margin: 1rem;
}

.refresh-button:hover {
    opacity: 90%;
}

#acm-button {
    border-radius: 8px;
    background: #A5C9CA;
    width: 8rem;
    height: 2rem;
    margin: 0.5rem;
    text-align: center;
}

#acm-button:hover {
    background-color: #AFD5D6;
}

.footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    position: absolute;
    bottom: 1vh;
    align-items: center;
}

#github {
    cursor: pointer;
    height: 5vh;
    padding: 2vh;
}
